.container{
    background-color: #2d572c;
    height: 300px;
    width: 40%;
    margin: auto;
    margin-top: 30px;
}



h1{
    margin-left: 10%;
    margin-top: 10px;
    position: absolute;
    color: beige;
}

input{
    margin-top: 120px;
    position: absolute;
    margin-left: 50px;
    height: 25px;
}

button{
    margin-top: 170px;
    position: absolute;
    margin-left: 100px;
    width:90px;
    height: 40px;
}

.resultado{
    margin-left: 290px;
    margin-top: 50px;
    position: absolute;
    height: 190px;
    width: 200px;
    color: black
}